@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>Nicolo Machiavel</li>
    <li>Alexandre Dumas</li>
    <li>Victor Hugo</li>
    <li>Emile Zola</li>

</ul>